.container-start {
  @include container(1024px);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start {
  @include span(4);
  float: none;
  font-family: 'Courgette', cursive;

  font-size: 4rem;
  color: white;
  text-decoration: none;
  color: #EFF7FF;
  text-shadow: 4px 2px #1E6AC0,
               0 6px 1px rgba(0, 0, 0, 0.1),
               0 0 0px rgba(0, 0, 0, 0.1),
               0 0px 0px rgba(0, 0, 0, 0.2),
               0 3px 10px rgba(0, 0, 0, 0.25),
               0 -3px 10px rgba(0, 0, 0, 0.2),
               0 11px 20px rgba(0, 0, 0, 0.15);
}
@import "compass/css3";
@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
    @include transform(translateY(0));
  }
	40% {
    @include transform(translateY(-15px));
  }
	60% {
    @include transform(translateY(-8px));
  }
}

.bounce {
  @include animation(bounce 2s infinite);
}

.made-by {
  position: absolute;
  bottom: 0;
  right: 1%;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: .75rem;
  a {
    text-decoration: none;
    color: white;
    transition: .2s;
  }
  a:hover {
    color: #1968C3;
  }
}
