<section ng-init="endGame()" class="type-of-person-container">
  <div class="type-of-person">
    <p >{{ typeOfPerson }}</p>
    <div class="social">
      <a class="repeat" href="#/"><i class="fa fa-refresh"></i>Repetir</a>
      <div class="share-container">
        <span>Compartir en:</span>
          <a class="twitter-share-button" target="_blank" href="https://twitter.com/intent/tweet?text=¡Mira%20qué%20página%20más%20chula!%20http://queprefieres.solarreflex.es/">
<i class="fa fa-twitter"></i></a>
      </div>
    </div>
  </div>
</section>
